<!-- <app-footer> -->
    <div class="footer" id="LANDING$FOOTER$VIEW">
        <div class="footer-desc container">
          <div class="footer-links">
            <a routerlink="/our-story" href="/our-story">OUR STORY</a>
            <a routerlink="/our-projects" href="/our-projects">OUR PROJECTS</a>
            <a href="https://asbl.in/blog/" target="_blank">BLOGS</a>
            <a routerlink="/media" href="/media">MEDIA</a>
            <a routerlink="/events" href="/events">EVENTS</a>
            <a routerlink="/careers" href="/careers">CAREERS</a>
            <a routerlink="/enquire" href="/enquire">ENQUIRE</a>
            <a routerlink="/partner" href="/partner">PARTNER WITH US</a>
          </div>
          <div class="footer-social">
            <div class="footer-logo">
              <picture>
                <source media="(min-width: 916px)" srcset="https://i.postimg.cc/WbyzxRz4/logo-resized-986x306.png">
                <source media="(max-width: 915px)" srcset="https://i.postimg.cc/WbyzxRz4/logo-resized-986x306.png">
                <img alt="footer-background-logo" class="footer-background-logo">
              </picture>
            </div>
            <div class="footer-icons">
              <div class="social">
                <a href="https://www.facebook.com/ASBLIndia" target="_blank">
                  <img alt="social-icon" class="social-icon" src="https://media.asbl.in/asbl.in/web/footer/footer_facebook.svg">
                </a>
              </div>
              <div class="social">
                <a href="https://www.instagram.com/asblindia/" target="_blank">
                  <img alt="social-icon" class="social-icon" src="https://media.asbl.in/asbl.in/web/footer/footer_instagram.svg">
                </a>
              </div>
              <div class="social">
                <a href="https://www.linkedin.com/company/asblindia" target="_blank">
                  <img alt="social-icon" class="social-icon" src="https://media.asbl.in/asbl.in/web/footer/footer_linkedin.svg">
                </a>
              </div>
              <div class="social">
                <a href="https://www.youtube.com/channel/UCbqY0YzIVLhIbCaFMtWijOQ" target="_blank">
                  <img alt="social-icon" class="social-icon" src="https://media.asbl.in/asbl.in/web/footer/footer_youtube.svg">
                </a>
              </div>
              <div class="social">
                <a href="https://twitter.com/AsblIndia" target="_blank">
                  <img alt="social-icon" class="social-icon" src="https://media.asbl.in/asbl.in/web/footer/Twitter-icon-Footer.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="rights-policy">
          <div class="content">
            <div class="rights web">© ASBL ALL RIGHTS RESERVED</div>
            <div class="line web"></div>
            <div class="left-wrapper">
              <div class="rights mob">© ASBL ALL RIGHTS RESERVED</div>
              <div class="line"></div>
              <div routerlink="/privacy" class="rights text-decoration-underline" tabindex="0">Cookies & Privacy Policy</div>
              <div class="line"></div>
              <div routerlink="/terms-conditions" class="rights text-decoration-underline" tabindex="0">Terms & Conditions</div>
              <div class="line"></div>
              <div routerlink="/refund-cancellation" class="rights text-decoration-underline" tabindex="0">Refunds / Cancellations</div>
            </div>
          </div>
        </div>
      </div>
    <!-- </app-footer> -->
    