/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    // background-color: #F0F0F0;
  }
  body{
    margin: 0;
    padding: 0;
    background: #F0F0F0;
  }